.promo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
    transition: 0.5s ease;

    &__videoBg {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__container {
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        height: 100%;
        padding: 0 2.5rem 2.5rem 0;
    }

    &__cross {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1.8rem;
        padding: 0.5rem 2rem;
        background: $white;
        border: 2px solid $black;
        cursor: pointer;

        &:hover {
            background: $black;
        }
    }

    &__cross:hover &__svgLine {
        stroke: $white;
    }

    &__qr {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        & p {
            width: 25%;
            font-weight: 500;
            font-size: 1rem;
            text-transform: uppercase;
            text-align: end;
            margin-right: 0.6rem;
        }
    }

    &__qrCode {
       width: 6.8rem;
       height: 6.8rem;
       
       & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
       }
    }
}

.side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 23rem;
    height: 100%;
    padding: 4.5rem 2rem;
    background: $mainBlue;

    &__header {
        font-size: 1.62rem;
        text-align: center;
    }

    &__phoneNumber {
        margin: 0.8rem 0;
        font-weight: 700;
        font-size: 2rem;
    }

    &__phoneText {
        max-width: 19rem;
        margin-bottom: 2rem;
        text-align: center;
        font-size: 0.87rem;
    }

    &__numFrame {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        margin-bottom: 2rem;
    }

    &__numBtn {
        flex: 1 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.9rem 2.4rem;
        font-weight: 700;
        border: 2px solid #000000;
        cursor: pointer;
    
        &:hover {
            background: #000;
            color: #fff;
        }
    }

    &__check {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        margin-bottom: 1.25rem;

        & label {
            display: flex;
            align-items: center;
            color: $grey;
            font-size: 0.8rem;
            user-select: none;
        }
    
        & input {
            position: absolute;
            appearance: none;
        }
    }

    &__confirmBtn {
        width: 100%;
        padding: 1rem 0;
        background: $black;
        color: $white;
        font-weight: 500;
        font-size: 1rem;
        border: none;
        outline: none;
        cursor: pointer;

        &:hover {
            background: lighten($black, 5%);
        }
    }
}

.remove {
    flex: 2 0 61%;
}

.side__check input:checked ~ .fancyCheck:before {
    opacity: 1;
}

.fancyCheck {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1.25rem;
    border: 2px solid $black;

    &:before {
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        width: 1.5rem;
        height: 1.3rem;
        background: url(../../assets/img/check.svg);
        transform: translate(-50%, -50%);
        opacity: 0;
    }
}

.dis {
    color: $grey;
    background: transparent;
    border: 2px solid $grey;
    cursor: auto;

    &:hover {
        background: transparent;
    }
}