// Div sizes
$container-width: 90%;

// Colors
$white: #ffffff;
$black: #000000;
$mainBlue: #86D3F4;
$grey: #4E4E4E;

// Media querys
$mobileL: 424px;
$tablet: 767px;
$laptop: 1023px;
$laptopL: 1439px;
$fourK: 2559px;